apiVersion: v1
kind: Service
metadata:
  name: {{.ServiceName}}
  namespace: {{.Namespace | default "default"}}
  labels:
    app: {{.ServiceName}}
    {{- range $key, $value := .Labels }}
    {{$key}}: {{$value}}
    {{- end }}
spec:
  type: {{.ServiceType | upper}}
  ports:
  {{- range .Ports }}
  - name: {{.Name}}
    port: {{.Port}}
    targetPort: {{.TargetPort}}
    protocol: {{.Protocol | upper | default "TCP"}}
  {{- end }}
  selector:
    app: {{.ServiceName}}
